:root {
    background-color: rgb(245, 233, 238);
}
body {
    background-color: rgb(245, 233, 238);
}
h1 {
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.8rem;
    color: rgb(59, 59, 59);
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(59, 59, 59);

}
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(59, 59, 59);
    font-style: italic;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container {
    box-shadow: 10px 10px 8px #bdbdbd;
    margin-top: 2rem;
    background-color: ivory;
    margin-bottom: 1.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    max-width: 75%;
    min-width: max-content;

}
.my-col {
    height: 4rem;
    text-align: center;
    padding-top: 1rem;
    border: 0.2rem solid rgb(245, 233, 238);
}
.col-a1, .col-b1, .col-c1, .col-d1, .col-e1, .col-f1, .col-g1, .col-h1, .col-i1 {
    max-width: 10%;
    min-width: max-content;
}
.col-a3, .col-b3, .col-c3, .col-d3, .col-e3, .col-f3, .col-g3, .col-h3, .col-i3 {
    max-width: 10%;
    min-width: max-content;
}

.col-a3:hover, .col-b3:hover, .col-c3:hover, .col-d3:hover, .col-e3:hover, .col-f3:hover, .col-g3:hover, .col-h3:hover, .col-i3:hover {
    font-size: 110%;
    cursor: pointer;
}
.edit_cont_border{
    border:1px solid black;
  }



 /* .col-a1, .col-b1, .col-c1 {
      background-color: rgb(255, 214, 214);
  }
  .col-d1 {
      background-color: rgb(176, 253, 152);
  }
  .col-e1, .col-f1, .col-g1, .col-h1, .col-i1 {
      background-color: rgb(210, 213, 255); }